@charset "utf-8";
/*reset*/
html,body,dl,dd,h1,h2,h3,h4,h5,h6,p,form{margin:0;}
fieldset,img{border:0;}
ul,ol,blockquote{margin:0;padding:0;list-style:none;}
/*clear*/
.left{float:left;}
.right{float:right;}
.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden;line-height:0;}
.clear{zoom:1;}
/*body*/
body{font-size:14px;line-height:1.5;color:#333;font-family:Tahoma,Verdana,STHeiTi,simsun,sans-serif;min-width:1000px;}
/*a*/
a{color:#003399;text-decoration:none;}
a:hover{text-decoration:underline;}
/*ext*/

/*basic*/
body{background:#fbfbfb;}
#header{display:block;height:99px;width:479px;background:url("logo.png") no-repeat 20px 10px;}
#basicSearch h2, #extendSearch h2{height:44px;background:url("banner2.png") repeat-x 0 0;font-size:14px;font-weight:normal;line-height:44px;text-indent:20px;text-shadow:1px 1px white;}
.searchListTable{margin:20px;}
.searchListTableItem{}
.sImage{width:70px;}
.sImage div{width:60px;height:64px;margin-bottom:30px;margin-top:30px;margin-left:10px;}
.sImage #img1{background:url("selectDate.png") no-repeat 0 0;}
.sImage #img2{background:url("selectPos.png") no-repeat 0 0;} 
.sImage #img3{background:url("selectPeople.png") no-repeat 0 0;} 
.sImage #img4{background:url("selectSingle.png") no-repeat 0 0;}  
.sImage #img5{background:url("selectMovement.png") no-repeat 0 0;}
#selectTime{margin-left:110px;padding-top:20px;padding-bottom:50px;}  
.sepTime1{height:30px;}
.sepTime2{height:50px;}
#posCheckList label{width:100px;margin-bottom:10px;}

/*extern*/
#selectCheckList label{width:30px;margin-bottom:10px;}
#selectPos, #selectPeople{margin-left:110px;padding-top:32px;}

#selectSingle, #selectMovement{margin-left:110px;}
#peoColorCheck{height:45px;}
#peoColorCheck label{width:30px;margin-bottom:8px;}
.topTitle{font-size:14px;text-align:center;border-bottom:1px dotted #ccc;padding-top:2px;padding-bottom:12px;text-shadow:1px 1px #ddd;}
.radioTitle{padding-bottom:14px;padding-top:14px;padding-left:10px;background:url("block6.png") no-repeat 0 50%;}
.uploadImage img{display:none;border:1px solid #dedede;padding:2px;background:#fff;}
.uploadImage a{padding-right:12px;background:url("up1.png") no-repeat 100% 50%;}
.uploadImage a:hover{background-image:url("up2.png");}


#selectSum{border-top:1px solid #ddd;padding:20px;padding-bottom:0;background:#eee url("sum.png") no-repeat 50% 0;}
a#button_submit{display:block;margin:0 auto;width:73px;height:26px;background:url("button.png") no-repeat 0 0;}
a#button_submit:hover{background:url("button.png") no-repeat -80px 0;}
a#button_submit:active{background:url("button.png") no-repeat -161px 0;}

#copy{text-align:right;font-size:12px;color:#666;padding-top:20px;padding-bottom:10px;}
.hide{display:none;height:0;line-height:0;}